<!--- Footer  start-->
<hr>
<div style="clear: center"></div>
<div class="footer">
   &copy; Signal Processing Toolkit <a href="https://spkit.github.io/">Home</a>
  <span style="padding-left: 5ex;">
  <a href="_sources/index.rst.txt"
   rel="nofollow">Extras</a>
  </span>
</div>

<div class="container index-upper" >
  <div class="row-fluid">
    <div>
      <span style="padding-left: 5ex;"><big><a>Collabration</a></big></span>
      <a class="reference internal" href="about.html" style="text-decoration: none; white-space: nowrap" >
      <span style="padding-left: 5ex;">
      <img id="index-funding-logo-big" src="{{"assets/images/phyaat.png" | relative_url }}" title="phyaat" style="max-height: 42px">
      </span>
      <span style="padding-left: 5ex;"></span>
      <span style="padding-left: 5ex;"></span>
      <span style="padding-left: 5ex;"></span>
      <span style="padding-left: 5ex;"></span>
      </a>
      <span style="padding-left: 10ex;">
      <a class="reference internal" href="about.html">More information</a>
      </span>
    </div>
  </div>
</div>

<!-- find start
</div>
</div>
 -->
<!--- Footer  end-->
