<!--- Header  start-->
<div id="logo-banner">
  <div class="logo">
  <a href="{{"#" | relative_url }}"><img src="{{"assets/logo/logo.png" | relative_url }}" alt="spkit logo"  border="0" /></a>
  </div>
  <div class="tags">
  <ul>
    <li>&#9672; Simple and easy to use toolkit for signal processing</li>
    <li>&#9672; Includes basic machine learning models with visualization</li>
    <li>&#9672; Open source</li>
  </ul>
  </div>
  <div class="banner">
  <h2>Signal Processing Toolkit</h2>
  <h4><i>Simple and easy to use for predictive analysis</i></h4>
  </div>
</div>


<div class=related-wrapper>
  <div class="related" role="navigation" aria-label="related navigation">
  <ul>
  <li><a href="{{"#" | relative_url }}">Home</a> |&nbsp;</li>
  <li><a href="{{"userguide"| relative_url }}">User Guide</a> |&nbsp;</li>
  <li><a href="{{"examples"| relative_url }}">Examples</a> |&nbsp;</li>
  <li><a href="{{"tutorials"| relative_url }}">Tutorials</a> |&nbsp;</li>
  <li><a href="{{"about"| relative_url }}">About</a> |&nbsp;</li>
  </ul>
  </div>
</div>
<!--- Header  end-->
